.container {
  padding: 24px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}
.footer{
  max-width: auto;
  height: 150px;
  background-color: gray;
  opacity: 2;

}
.line{
  font-size: 35px;
  margin-left: 35%;
  margin-top: 0px;
}
