<div class="container">
  <div class="grid">
    <div class="card">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <h2>Card One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="card">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <h2>Card Two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
        tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="card">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <h2>Card Three</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
  </div>
</div>
