.sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav {
  top: 80px;
  /* width: 200px; */
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0;
  margin-left: 0;
  width: 100%;
}
mat-sidenav-content{
  background-color: aqua;
}
/* .content {
  padding: 16px;
} */

body{
  padding-top: 80px;
}
